html, body {
    margin: 0;
}

.profile {
    padding: 5em 0;
}

.profile .content-wrapper {
    display: flex;
}

.profile-projects {
    width: 60%;
    padding-left: 3em;
}

/* Project styles here */
.profile {
    margin: 0 auto;
    padding-top: 3em;

}

.profile .content-wrapper {
    display: flex;
}

h3 {
    display: inline-block;
    padding: 0.5em;
    background-color: lightgrey;
}



