.profile {
    margin: 0 auto;
    padding-top: 3em;

}

.profile .content-wrapper {
    display: flex;
}

.project {
    margin: 3em 0;
}

h3 {
    display: inline-block;
    padding: 0.5em;
    background-color: lightgrey;
}